# ================================
# Python
# ================================
__pycache__/
*.py[codz]
*$py.class
*.so
build/
dist/
.eggs/
*.egg-info/
*.egg
.env
.venv
env/
venv/

# ================================
# IDE / Editors
# ================================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
.ruff_cache/

# ================================
# Logs & temp
# ================================
*.log
*.cache
*.cover
.coverage*
.pytest_cache/
.mypy_cache/

# ================================
# OpenTofu / Terraform
# ================================
.terraform/
.terraform*
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
*.tfvars
crash.log

# ================================
# IaC Secrets (Student folder)
# ================================
3.IaC/300150485/terraform.tfvars
